
    <%- include ../layouts/header.ejs %>
    <% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
    <% } %>

    <% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
    <% } %> 
    <hr>
    <div><a style="font-size:24px;" href="/patients/patient">Patients</a> | <a style="font-size:24px;" href="/patients/nextofkin">Next of Kin</a> | <span style="font-size:24px;">Contact Data</span></div><br>
    <div class="hold" style ="width: 98%;overflow-x: auto;white-space: nowrap;">
    <table class="table table-striped table-dark" id="patients" style="width:100%;">
    <thead>
        <tr>
        <th scope="col">Enrollment</th>
        <th scope="col">Patient</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Alt. Phone</th>
        <th scope="col">Email</th>
        <th scope="col">County</th>
        <th scope="col">Sub County</th>
        <th scope="col">Ward</th>
        <th scope="col">Village</th>
        </tr>
    </thead>
    <tbody>
    <% if (result) { %>
    <% result.forEach(function(user){ %>
    <tr>
        <td><%= user.UserID %></td>
        <td><%= user.Name %></td>
        <td><%= user.Address %></td>
        <td><%= user.PhoneNumber %></td>
        <td><%= user.AltPhone %></td>
        <td><%= user.Email %></td>
        <td><%= user.County %></td>
        <td><%= user.SubCounty %></td>
        <td><%= user.Ward %></td>
        <td><%= user.Village %></td>
        
        <td>
            <div style="float:left">
                <a href='/patients/edit/<%= user.UserID %>'><i style="color:green;" class="glyphicon glyphicon-edit"></i></a> &nbsp;                            
                <form method="post" action="/patients/delete/<%= user.id %>" style="float:right">
                    <button type="submit" class="" name="delete" onClick="return confirm('Are you sure you want to delete?')"><i style="color:red;" class="glyphicon glyphicon-trash"></i></button>
                    <input type="hidden" name="_method" value="DELETE" />
                </form>
            </div>
        </td>
    </tr>
    <% }) %>
    <% } %>
    </tbody>
    </table>
    </div>
    <hr>
    <a href="" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> CopyRight @ 2018</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <%- include ../layouts/footer.ejs %>