
    <%- include ../layouts/header.ejs %>
    <% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
    <% } %>

    <% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
    <% } %> 
    <h2>All system users</h2>
    <div class="hold" style ="width: 98%;overflow-x: auto;white-space: nowrap;">
    <table class="table table-striped table-dark" id="patients" style="width:100%;">
    <thead>
        <tr>
            <th rowspan="2">Name</th>
            <th colspan="6" style="color:#3074ae;">Bio information</th>
            <th colspan="2" style="color:#3074ae;">Enrollment</th>
            <th colspan="2" style="color:#3074ae;">Contact</th>
        </tr>
        <tr>
        <th scope="col">D.O.B</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Marital</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
        <th scope="col">Date Enrolled</th>
        <th scope="col">#Enr. No</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    <% if (data) { %>
    <% data.forEach(function(user){ %>
    <tr>
        <td><%= user.Name %></td>
        <td><%= user.DateOfBirth.toDateString() %></td>
        <td><%= user.Gender %></td>
        <td><%= user.Age %></td>
        <td><%= user.MaritalStatus %></td>
        <td><%= user.Height %></td>
        <td><%= user.Weight %></td>
        <td><%= user.DateEnrolled.toDateString() %></td>
        <td><%= user.UserID %></td>
        <td><%= user.PhoneNumber %></td>
        <td><%= user.Email %></td>
        <td>
            <div style="float:left">
                <a href='/patients/edit/<%= user.UserID %>'><i style="color:green;" class="glyphicon glyphicon-edit"></i></a> &nbsp;                            
                <form method="post" action="/patients/delete/<%= user.id %>" style="float:right">
                    <button type="submit" class="" name="delete" onClick="return confirm('Are you sure you want to delete?')"><i style="color:red;" class="glyphicon glyphicon-trash"></i></button>
                    <input type="hidden" name="_method" value="DELETE" />
                </form>
            </div>
        </td>
    </tr>
    <% }) %>
    <% } %>
    </tbody>
    </table>
    </div>
    <hr>
    <a href="" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> CopyRight @ 2018</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <%- include ../layouts/footer.ejs %>